:root {
  --bright-blue: hsl(245, 75%, 52%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* =============
  TYPOGRAPHY
============== */

.card__link,
.card__link-btn {
  transition: all 0.3 ease;
}

.card__plan,
.card__link,
.card__link-btn {
  font-weight: 700;
}

.card__body,
.card__price,
.cancel-btn {
  color: #838699;
}

.card__link,
.card__link-btn {
  display: block;
}

.card__plan,
.card__price {
  margin: 0;
}

h1 {
  color: #0f1f40;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0;
}

.card__body {
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 1.5em;
}

.card__link {
  font-size: 0.875rem;
  color: var(--bright-blue);
  margin-left: auto;
}

.card__link-btn {
  text-decoration: none;
  margin-top: 1.5em;
}

.proceed-btn {
  background-color: var(--bright-blue);
  border-radius: 0.75em;
  color: white;
  padding: 1em 0;
}

/* =============
  LAYOUT
============== */

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/pattern-background-desktop.svg");
  background-size: 100vw 50vh;
  background-color: #e0e8ff;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.card {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  background-color: white;
  border-radius: 1.5em;
  overflow: hidden;
  text-align: center;
}

.card__img {
  width: 100%;
}

.card__body-container {
  padding: 2em 1.25em;
}

.card__widget {
  background-color: #f5f7ff;
  border-radius: 1em;
  padding: 1.5em 1em;
}

/* =============
  MEDIA QUERIES
============== */

@media (hover: hover) {
  .card__link:hover {
    text-decoration: none;
  }

  .proceed-btn:hover {
    opacity: 0.75;
  }

  .cancel-btn:hover {
    color: black;
  }

  .card__link:focus-visible,
  .card__link-btn:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px white, 0 0 0 7px var(--bright-blue);
  }

  .card__link:focus-visible {
    border-radius: 0.25em;
    padding: 0.35em;
  }

  .cancel-btn {
    border-radius: 0.25em;
  }
}

@media (orientation: landscape) {
  .container {
    height: 100vw;
    background-size: 100vw 50vw;
  }
}
